.file-body-div{width:650px; border-bottom:1px solid #CCC; padding-bottom:5px; margin-bottom:5px;}
.file-body-body-up{}
.file-body-body-up img{display:inline-block; vertical-align:top;}

.file-body-info{display:inline-block;margin-left:15px;width:420px;}
.file-body-download{display:inline-block; vertical-align:top; margin-top:7px;}
.file-body-info-title a{font-size:15pt;}

.file-body-description{padding: 5px 20px 5px 20px;}

.file-element-div{margin-top:10px; margin-bottom:10px;}
